<%- include("partials/header") -%>
<div class="introTitlePage">
  <h1 class="w3-animate-opacity">Experiences</h1>
  <br />

  <div class="informationProjects">
    <h3>SHAD Canada - <a href="https://www.ucalgary.ca/news/university-calgary-hosts-64-canadas-brightest-teens-shad-summer-program" target="_blank">University of Calgary:</a></h3>
    <p>A summer enrichment program that embodies the values of STEM, entrepreneurship and teamwork.</p>
    <br />
    <h3>Big Brother Big Sister</h3>
    <p>Student-mentorship program dedicated towards helping the youth with academic and social skills.</p>
    <br />
    <h3>Praise Team Guitarist and Performer</h3>
    <p>Lead guitarist for the Westside Presbyterian Church, performer for the adult service.</p>
  </div>


</div>
<%- include("partials/footer") -%>
