<%- include("partials/header") -%>
<div class="introTitlePage">
  <h1 class="w3-animate-opacity">Projects</h1>
</div>
<br />

<div class="informationProjects">
  <h3>Somebody Call 911 App: <a href="https://salty-forest-73813.herokuapp.com/" target="_blank"><i class="fa fa-phone zoom" style="font-size:30px"></i></a></h3>
  <p>A full stack web app that sends an automated call of the users emergency to a registered phone number. Built using NodeJS, expressJS, dotenv, and Nexmo (Vonage) backend, and a simple HTML/CSS frontend. Hosted using Heroku.</p>
  <br />
  <h3>ShoppingQ: <a href="https://devpost.com/software/defhacksvirtual" target="_blank"><i class="fa fa-shopping-cart zoom" style="font-size:30px"></i></a></h3>
  <p>A client-employee based web application that keeps track of customers waiting in line. Made using PHP, SQL and Javascript.</p>
  <br />
  <h3>Personal Website: <a href="/" target="_blank"><i class="fa far fa-address-card zoom" style="font-size:30px"></i></a></h3>
  <p>A blog platform for anyone online to come and share their experiences! Made using NodeJS, expressJS, HTML/CSS, EJS and Bootstrap.</p>
  <br />
  <h3>2-D Shooter Game: <a href="https://github.com/timhyc19/2-D-Shooter-Game---Pygame/blob/main/basicShooterEnemy.py" target="_blank"><i class="fa fas fa-arrows-alt zoom" style="font-size:30px"></i></a></h3>
  <p>Inspired by ROTMG, a pixelated shooter game using the Pygame interface. </p>
</div>
<%- include("partials/footer") -%>
