<script type="text/javascript">
  setInterval(myFunction, 1);
  function myFunction() {
    var d = new Date();
    var n = d.toLocaleTimeString();
    document.getElementById("demo").innerHTML = n;
  }
</script>

<%- include("partials/header") -%>
<div class="introTitlePage">
  <h1 class="w3-animate-opacity">Projects</h1>
</div>
<hr />
<h3 style="font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier; color: white">Here are some of my projects on Machine Learning (ML), Full Stack, and Data Science.</h3>
<hr />
<br />

<div class="row">
  <div class="column">
    <h3>ML Cost Calculator</h3>
    <a href="https://github.com/timhyc19/Cost-Function-Calculator" target="_blank"><img src="project1.PNG" alt="" style="width:90%" class="zoom2"></a>
  </div>
  <div class="column">
    <h3>House Price Predictor</h3>
    <a href="https://github.com/timhyc19/House-Price-Predictor" target="_blank"><img src="up-graph-houses.png" alt="" style="width:90%" class="zoom2"></a>
  </div>
  <div class="column">
    <h3>ShoppingQ</h3>
    <a href="https://devpost.com/software/defhacksvirtual" target="_blank"><img src="shoppingQ.jpg" alt="" style="width:85%; height: 33%" class="zoom2"></a>
  </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="column">
    <h3>Keeper App</h3>
    <a href="https://github.com/timhyc19/keeper-app" target="_blank"><img src="keeper.PNG" alt="" style="width:90%" class="zoom2"></a>
  </div>
  <div class="column">
    <h3>911 Emergency App</h3>
    <a href="https://salty-forest-73813.herokuapp.com/" target="_blank"><img src="p11.PNG" alt="" style="width:90%" class="zoom2"></a>
  </div>
  <div class="column">
    <h3>Blog Website</h3>
    <a href="https://sheltered-reef-56791.herokuapp.com/" target="_blank"><img src="blog.jpg" alt="" style="width:85%" class="zoom2"></a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include("partials/footer") -%>
