<%- include("partials/header") -%>
<div class="introTitlePage">
  <h1 class="w3-animate-opacity">Projects</h1>
</div>
<br />

<div class="informationProjects">
  <h3>ShoppingQ: <a href="https://devpost.com/software/defhacksvirtual" target="_blank"><i class="fa fa-shopping-cart zoom" style="font-size:30px"></i></a></h3>
  <p>A client-employee based web application that keeps track of customers waiting in line. Made using PHP, SQL and Javascript.</p>
  <br />
  <h3>Personal Website: <a href="/" target="_blank"><i class="fa far fa-address-card zoom" style="font-size:30px"></i></a></h3>
  <p>A blog-type platform for anyone online to come and share their experiences! Made using Node.JS, HTML/CSS, Express.js, EJS and Bootstrap.</p>
  <br />
  <h3>2-D Shooter Game: <a href="https://github.com/timhyc19/2-D-Shooter-Game---Pygame/blob/main/basicShooterEnemy.py" target="_blank"><i class="fa fas fa-arrows-alt zoom" style="font-size:30px"></i></a></h3>
  <p>Inspired by ROTMG, a pixelated shooter game using the Pygame interface. Topics included classes, etc...</p>
</div>
<%- include("partials/footer") -%>
