<%- include("partials/header") -%>
<div class="introTitlePage">
  <h1 class="w3-animate-opacity">Projects</h1>
  <p><%= projectDisplayContent %> </p>
</div>

<div class="square img1">
</div>
<div class="square img1">
</div>
<div class="square img1">
</div>

<%- include("partials/footer") -%>
