.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: black
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-space i {
  padding-left: 6px;
  padding-right: 6px;
}


.footer-padding {
	padding-bottom: 20px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: black;
  background-attachment: fixed;
}


.footer p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
	font-size: 12px;
  color: #fff;
}

.main {
  background-color: #181818;
}

.main h1{
  color: white;
  font-family: 'Times New Roman', serif;
  font-size: 50px;
}

.main p{
  color: #484848;
}

.block1 {
  padding-top: 130px;
  padding-left: 0px;
}

.block1 p{
  color: grey;
}

.block2{
  padding-bottom: 12px;
}

.breakBox{
  padding-top: 15px;
  padding-bottom: 50px;
}

.container2{
  padding-left: 170px;
}


.button{
  border: 2px solid black;
  border-color: #c44240;
  color: #c44240;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #181818;
}

.blogText{
  padding-top: 0px;
  padding-left: 20px;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
}

.borderExample{
  border-style: solid;
  border-color: white
}

.introTitlePage{
  padding-top: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  float: right;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.composeStyle label{
  color: white;
  padding-top: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
}

.btn{
  border: 2px solid #1abc9c;
  background: none;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn2{
  color: white;
}

.btn2:hover{
  color: black;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1abc9c;
  z-index: -1;
  transition: 0.8s;
}

.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn2:hover::before{
  height: 180%;
}

.buttonPad{
  padding-bottom: 15px;
}

.styleWord h1:hover{
  color: #1abc9c;
  transition: 0.8s;
}

.typed-cursor
{
    display:none;
}

.zoom:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.informationProjects p,h3{
  color: white;
}
